.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}
.songs_btn_c{
  background-color: #171616;
  width: 85%;
  height: 75%;
  color: #a1a1a1;
  font-family: arial;
  border-radius: 1px;
  border: 5px solid #171616;
  margin: 8px;
  
  overflow: hidden;
  white-space: pre;
  display: inline-block;
  text-overflow: ellipsis;
}
.songs_btn_c:hover{
  background-color: #211f1f;
  color: #969090;
  transform: scale(1.1);
  transition: 0.6s;
}
.songs_btn_c:focus{
  background-color: #211f1f;
  border: 5px solid #171616;
  color: #969090;
}
.songs_btn_c::first-line{
  line-height: 50px;
  color: #f5f2f2;
  font-size: 110%;
  font-weight: bold;
}
#new_songs_btn{
  border: 0px;
  font-size: 15px;
  background-image: linear-gradient(to right, #35401f, black);
  color: #0d0c0b;
  width: 90%;
}
#new_songs_btn:hover{
  width: 95%;
  transition: 0.5s;
}
.box_behind_tables{
  color: #ffffff;
  padding: 25px;
  margin-top: 20px;
  margin: 25px;
  background-color: #a6a4a1;
  border: 5px solid #d4d1cd;
  border-radius: 15px 50px 30px 5px;
  width: 95%;
  height: 95%;
  box-shadow: 5px 10px #000000;
}
h4{
  font-weight: bold;
}
.shiny-notification{
  background-color: #e30e0e;
  border: 3px solid #e0dada;
  color: #e0dada;
  font-weight: bold;
  font-size: 15px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#downloadData{
  border: 0px;
  border-left: 0.5px solid #e0dada;
  background-color: #403f3e;
  text-align: center;
  padding-top: 15px;
  color: #ffffff;
  height: 50px;
}
#downloadData:hover{
    background-image: linear-gradient(to right, #35401f, black);
    transition: 0.8s;
}
#md{
  background-image: url("md_background.jpg");
  background-repeat: repeat;
  padding: 15px;
  font-size: 15px;
  border: 5px solid #d4d1cd;
  border-radius: 15px 50px 30px 5px;
}
.sidebar{
  position: fixed;
  height: 100%;
  font-size: 15px;
}
#song_search_dt{
  word-break: break-word;
  background-color: #5a8a85;
  border-right: 1px solid white;
  padding: 5px;
}
#recommendation_dt{
  word-break: break-word;
  background-color: #5a8a85;
  border-right: 1px solid white;
  padding: 5px;
}
#playlist_dt{
  word-break: break-word;
  background-color: #5a8a85;
  border-right: 1px solid white;
  padding: 5px;
}

.table_title{
  padding-left: 10px;
  padding-right: 10px;
  background-color: #dee1e3;
  display: inline-block;
  word-break: normal;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 20px;
}
#track_image{
  float: left;
  /*padding: 5px;*/
  /*margin: 15px;*/
}
#track_text{
  float: left;
  margin: 15px;
  vertical-align: central;

  font-weight: bold;
  color: #ffffff;
  font-family: arial;
}
.fav_img_and_text{
  vertical-align: central;
  margin: 15px;
  padding: 5px;
  height: 60px;
  background-color: #302f30;
  display:inline-block;
  width: 95%;
  text-overflow: clip;
  white-space: nowrap;
  /*word-break: break-word;*/
}
.fav_div{
  display: inline-block;
  background-color: #000000;
  margin: 30px;
  padding: 10px;
  width: 95%;
  margin-bottom: 0px;
  /*background-image: linear-gradient(#facf78, #768394);*/
  background-image: linear-gradient(#5c6044, #b3b5b3);
  box-shadow: 5px 10px #000000;
}
.valuebox{
  display:inline-block;
  font-weight: bold;
  text-align: center;
  float: inherit;
  margin-right: 0px;
  background-color: rgb(17,17,17,1);
  word-break: normal;
  width: 100%;
  height: 100%;
}
.valuebox h1{
  color: #ffffff;
}
#fav_tracks h1{
  color: #ffffff;
  margin: 15px;
  background-color: #302f30;
  padding-left: 5px;
}
#artist_image{
  width: 15%;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
#fav_artist_div{
  display: inline-block;
  padding: 30px;
  color: #006eff;
}
#fav_artist_div h4{
  background-color: rgb(17, 17, 17, 1);
  margin-bottom: 0px;
  color: #ffffff;
  padding: 1%;
  text-align: center;
}
/*#top_artist_image{
  float: right;
}*/
#playlist_box{
  padding: 20px;
  margin: 30px;
  background-image: linear-gradient(#467a58, #b3b5b3);
  box-shadow: 5px 5px #000000;
}
#playlist_plot{
  margin-top: 7%;
}
.action_buttons{
  background-color: rgb(30, 30, 30, 200);
  color: #ffffff;
  float: right;
  border-radius: 1px 1px 1px 1px;
  border-color: #ffffff;
  font-weight: bold;
  margin: 1%;
  height: 50px;
}
.action_buttons:hover{
  transition: 0.7s;
}
#login{
  vertical-align: text-top; 
  float:left;
  background-size: cover;
  height: 75px;
  width: 150px;
  color: #008c38;
}
#login:hover{
  background-image: url("spotify_logo.jpg");
  transition: 0.6s;
  color: transparent;
}
.action_buttons.S{
  float: left;
  margin: 20px;
  margin-left: 40px;
}
